    # React
    greenworksdesigncom/node_modules/
    greenworksdesigncom/build/
    *.log

    # Terraform
    **/.terraform/
    *.tfstate
    *.tfstate.backup
    *.tfvars

    # Misc
    *.DS_Store
